actionlib==1.12.1
angles==1.9.12
catkin==0.7.29
cv_bridge==1.13.0
dataclasses==0.8
diagnostic_updater==1.9.7
dynamic_reconfigure==1.6.3
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.16
interactive-markers==1.11.5
joblib==1.1.0
laser_geometry==1.6.7
message_filters==1.14.12
numpy==1.19.5
opencv-python==4.6.0.66
pandas==1.1.5
Pillow==8.4.0
plotly==5.8.2
python-dateutil==2.8.2
python_qt_binding==0.4.4
pytz==2022.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
resource_retriever==1.12.7
rosbag==1.14.12
rosclean==1.14.9
rosgraph==1.14.12
roslaunch==1.14.12
roslib==1.14.9
roslz4==1.14.12
rosmaster==1.14.12
rosmsg==1.14.12
rosnode==1.14.12
rosparam==1.14.12
rospy==1.14.12
rosservice==1.14.12
rostest==1.14.12
rostopic==1.14.12
rosunit==1.14.9
roswtf==1.14.12
rqt-reconfigure==0.5.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_console==0.4.9
rqt_dep==0.4.9
rqt_graph==0.4.11
rqt_gui==0.5.2
rqt_gui_py==0.5.2
rqt_image_view==0.4.16
rqt_launch==0.4.8
rqt_logger_level==0.4.8
rqt_msg==0.4.8
rqt_plot==0.4.13
rqt_publisher==0.4.8
rqt_py_common==0.5.2
rqt_py_console==0.4.8
rqt_service_caller==0.4.8
rqt_shell==0.4.9
rqt_srv==0.4.8
rqt_tf_tree==0.6.0
rqt_top==0.4.8
rqt_topic==0.4.11
rqt_web==0.4.8
rviz==1.13.23
scikit-learn==0.24.2
scipy==1.5.4
sensor-msgs==1.12.8
six==1.16.0
sklearn==0.0
smclib==1.8.5
tenacity==8.0.1
tf==1.12.1
tf2_geometry_msgs==0.6.5
tf2_py==0.6.5
tf2_ros==0.6.5
threadpoolctl==3.1.0
topic_tools==1.14.12
torch==1.10.1
torchinfo==1.5.4
torchvision==0.11.2
typing_extensions==4.1.1
